[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

certifi = "==2017.7.27.1"
chardet = "==3.0.4"
configparser = "==3.5.0"
dj-database-url = "==0.4.2"
django = "==2.0.2"
env-tools = "==2.1.0"
gunicorn = "==19.7.1"
idna = "==2.6"
"psycopg2" = "==2.7.3"
pytz = "==2018.3"
requests = "*"
tini = "==3.0.1"
"urllib3" = "==1.22"
whitenoise = "==3.3.0"
