[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"flake8" = "*"
coverage = "*"
vcrpy = "*"



[packages]

certifi = "*"
chardet = "*"
configparser = "*"
dj-database-url = "*"
django = "*"
env-tools = "*"
gunicorn = "*"
idna = "*"
"psycopg2" = "*"
pytz = "*"
requests = "*"
tini = "*"
"urllib3" = "*"
whitenoise = "*"

[requires]

python_version = "3.6"
