<div id="groupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Groups for member <span id='member_title'></span></h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id='groupModalBody'></div>
      </div>
      <div class="modal-footer">
        <a id='addGroupId' href='/test' class="btn btn-outline-primary float-right">Add Group</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
