<table class="table">
  <thead>
  <tr>
    <th width="20">Group ID</th>
    <th width="20%">Name</th>
    <th width="50%">Description</th>
    <th width="10%">Action</th>
  </tr>
  </thead>
  <tbody>
  {% for group in member.groups.all %}
    <tr>
      <td>{{ group.id }}</td>
      <td>{{ group.name }}</td>
      <td>{{ group.description|linebreaks }}</td>
      <td>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'remove_member' group.id member.id %}">
          Remove from group
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
