{% extends 'project_admin/base.html' %}

{% block main_container %}

  <h1>Hello User: {{project.user}}</h1>

  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <td>{{ project.name }}</td>
    </tr>
    <tr>
      <th>Leader</th>
      <td>{{ project.leader }}</td>
    </tr>
    <tr>
      <th>Badge Image</th>
      <td>
        {% if project.badge_image is not None %}
        <a href="{{ project.badge_image }}" target="_blank">
          {{ project.badge_image }}
        </a>
        {% else %}
          <i>No project badge image was set</i>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Contact E-mail</th>
      <td>
        <a href="mailto:{{ project.contact_email }}">
          {{ project.contact_email }}
        </a>
      </td>
    </tr>
    <tr>
      <th>Info URL</th>
      <td>{{ project.info_url }}</td>
    </tr>
    <tr>
      <th>Long Description</th>
      <td>{{ project.long_description }}</td>
    </tr>
    <tr>
      <th>Organization</th>
      <td>{{ project.organization }}</td>
    </tr>
    <tr>
      <th>Short Description</th>
      <td>{{ project.short_description }}</td>
    </tr>
    <tr>
      <th>Slug</th>
      <td>{{ project.slug }}</td>
    </tr>
    <tr>
      <th>Type</th>
      <td>{{ project.type }}</td>
    </tr>
  </table>

{% endblock main_container %}
