{% extends 'project_admin/base.html' %}

{% block main_container %}

<h1>Hello world.</h1>

<b>Member data:</b>
<table class="table">
  <tr>
    <th>Proj member ID</th>
    <th>Files</th>
  </tr>
  {% for member in member_data.results %}
    <tr>
      <td>{{ member.project_member_id }}</td>
      <td>
        {% for item in member.data %}
        <p>{{ item.source }}: {{ item.basename }}</p>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
  {% for item in member_data.results %}
    <p>{{ item }}</p>
  {% endfor %}
{% endblock main_container %}
