{% extends 'project_admin/base.html' %}

{% block main_container %}
{% load widget_tweaks %}
  <!--Filter-->
  <form method="get">
      <div class="well">
        <div class="row">
          <div class="form-group col-sm-3 ">
            {{ filter.form.id.label_tag }}
            {% render_field filter.form.id class="form-control" %}
          </div>
          <div class="form-group col-sm-3">
            {{ filter.form.date_joined.label_tag }}
            {% render_field filter.form.date_joined class="form-control" %}
          </div>
          <div class="form-group col-sm-3">
            {{ filter.form.sources_shared.label_tag }}
            {% render_field filter.form.sources_shared class="form-control" %}
          </div>
          <div class="form-group col-sm-3">
              {{ filter.form.groups.label_tag }}
            <div>
               {% render_field filter.form.groups class="form-control" %}
             </div>
          </div>
        </div>
        <div class="mb-5">
          <button type="submit" class="btn btn-outline-primary float-right">
            Search
          </button>
        </div>
      </div>
    </form>
    
    <!--Members-->
    <table class="table table-bordered" style="border-collapse:collapse;">
      <thead class="thead-light">
        <tr>
          <th>Project Member ID</th>
          <th>Date joined</th>
          <th>Message Permission</th>
          <th>Sources Authorized</th>
          <th>Groups Joined</th>
        </tr>
      </thead>
      <tbody>
        {% for member in filter.qs %}
        <tr class="accordion-toggle" data-toggle="collapse" href="#{{member.id}}">
              <td>{{ member.id }}</td>
              <td>{{ member.date_joined }}</td>
              <td>{{ member.message_permission }}</td>
              <td>{{ member.sources_shared }}</td>
              <td> 
                {% for group in member.groups.all %}
                  {% if not forloop.first %}, {% endif %}  
                    {{group.name}} ({{group.id}})
                  {% empty %}
                    <em class="text-muted">No group</em>
                {% endfor %}
              </td>
          </tr>
          <tr>
            <td colspan="8" class="hiddenRow" margin-bottom=0>
              <div class="accordian-body collapse" id="{{member.id}}">
                {% include 'project_admin/member_card.html' with member=member %}
              </div>
            </td>
          </tr>
          {% empty %}
            <tr>
              <td>No data</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>   

{% endblock main_container %}
