{% extends 'project_admin/base.html' %}

{% block main_container %}
{% load widget_tweaks %}
  <!--Filter-->
  <form method="get">
      <div class="well">
        <div class="row">
          <div class="form-group col-sm-2 ">
            {{ filter.form.id.label_tag }}
            {% render_field filter.form.id class="form-control" %}
          </div>
          <div class="form-group col-sm-3">
            {{ filter.form.date_joined.label_tag }}
            {% render_field filter.form.date_joined class="form-control" %}
          </div>
          <div class="form-group col-sm-2">
            {{ filter.form.sources_shared.label_tag }}
            {% render_field filter.form.sources_shared class="form-control" %}
          </div>
          <div class="form-group col-sm-3">
            {{ filter.form.file_count.label_tag }}
          <div>
             {% render_field filter.form.file_count class="form-control" %}
           </div>
        </div>
          <div class="form-group col-sm-2">
              {{ filter.form.groups.label_tag }}
            <div>
               {% render_field filter.form.groups class="form-control" %}
             </div>
          </div>
        </div>
        <div class="mb-5">
          <button type="submit" class="btn btn-outline-primary float-right">
            Search
          </button>
        </div>
      </div>
    </form>

    <h5><a class="my-2 btn btn-sm btn-outline-info" href="{% url 'download_zip_file' %}">Download all data</a></h5>

    <!--Members-->
    <table class="table table-bordered" style="border-collapse:collapse;">
      <thead class="thead-light">
        <tr>
          {% if project.request_username_access %}
          <th>Username (Project Member ID)</th>
          {%else%}
          <th>Project Member ID</th>
          {%endif%}
          <th>Date joined</th>
          <th>Sources Authorized</th>
          <th>Number of Files Shared</th>
          <th>Groups Joined</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
        <tr class="accordion-toggle" data-toggle="collapse" href="#{{member.id}}">
              {% if project.request_username_access %}
              <td>{{member.username}} ({{ member.id }})</td>
              {%else%}
              <td>{{ member.id }}</td>
              {%endif%}
              <td>{{ member.date_joined }}</td>
              <td>{{ member.sources_shared }}</td>
              <td>
                    {{member.file_count}}
              </td>
              <td>
                {% for group in member.groups.all %}
                  {% if not forloop.first %}, {% endif %}
                    {{group.name}} ({{group.id}})
                  {% empty %}
                    <em class="text-muted">No group</em>
                {% endfor %}
              </td>
          </tr>
          <tr>
            <td colspan="8" class="hiddenRow" margin-bottom=0>
              <div class="accordian-body collapse" id="{{member.id}}">
                {% include 'project_admin/member_card.html' with member=member %}
              </div>
            </td>
          </tr>
          {% empty %}
            <tr>
              <td>No data</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav aria-label="pagination">
      <ul class="pagination">
        {% if members.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{ members.previous_page_number }}{%if source%}&source={{source}}{%endif%}">previous</a></li>
        {% endif %}
            <li class="page-item active"><a class="page-link" href='#'>Page {{ members.number }} of {{ members.paginator.num_pages }}</a></li>
        {% if members.has_next %}
            <li class="page-item"><a class="page-link" href="?order_by={{order_by}}&page={{ members.next_page_number }}{%if source%}&source={{source}}{%endif%}">next</a></li>
            <li class="page-item"><a class="page-link" href="?order_by={{order_by}}&page={{ members.paginator.num_pages }}{%if source%}&source={{source}}{%endif%}">last &raquo;</a></li>
        {% endif %}
      </ul>
</nav>

{% endblock main_container %}
