<div id="previewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i><div id='nbtitle_fill'></div></i></code></h4>
      </div>
      <div class="modal-body">
        <div id='notebook_filler'></div>
      </div>
      <div class="modal-footer">
        <a id='nbopenId' href='/test2' class="btn btn-default">open as notebook <i class="fas fa-external-link-alt"></i></a>
        <a id='detailId' href='/test' class="btn btn-default">more details <i class="fas fa-info-circle"></i></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
