<div id="notesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes for member <span id='notes_member_title'></span></h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id='notesModalBody'></div>
      </div>
      <div class="modal-footer">
        <a id="addNoteLink" href='#addNoteModal' data-member_id="test" data-toggle="modal" class="btn btn-outline-primary float-right">Add Notes</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% include 'project_admin/notes_modal_add.html' %}
