interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openhumans.org/api/direct-sharing/project/members/?access_token=ACCESSTOKEN
  response:
    body: {string: '{"count":1,"next":null,"previous":null,"results":[{"created":"2016-05-19T22:16:39.842587Z","project_member_id":"07876706","message_permission":false,"sources_shared":["direct-sharing-11"],"data":[]}]}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
      Last-Modified: ['Fri, 06 Apr 2018 04:14:49 GMT']
    status: {code: 200, message: OK}
version: 1
